{% extends "layout.html" %}

{% block title %}Metapie{% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>
<h3>Reseptin muokkaus</h3>
<form action="/update_recipe" method="post">
  <p>
    <label for="title">Reseptin nimi:</label> <br />
    <input type="text" name="title" id="title" value="{{ recipe.title }}" maxlength="50" required/>
  </p>
  <p>
    <label for="description">Kuvaus:</label> <br />
    <textarea name="description" id="description" rows="8" cols="40" maxlength="1000" required>{{ recipe.description }}</textarea>
  </p>
  <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}:</label> <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä reseptiä" />
</form>
<p>
  <a href="/recipe/{{ recipe.id }}">Takaisin reseptiin</a>
</p>
{% endblock %}