<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Metapie</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  {% endif %}

  <p>
    <a href="/">Etusivu</a> |
    <a href="/find_recipe">Etsi resepti</a> |
  {% if session.user_id %}
    <a href="/new_recipe">Uusi resepti</a> |
    <a href="/logout">Kirjaudu ulos</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  {% endif %}
  </p>
  
  {% block content %}{% endblock %}

</body>

</html>