{% extends "layout.html" %}

{% block title %}Uusi resepti{% endblock %}

{% block content %}
<h2>Uusi resepti</h2>
<form action="/create_recipe" method="post">
  <p>
    <label for="title">Reseptin nimi:</label> <br />
    <input type="text" name="title" id="title" maxlength="50" required />
  </p>
  <p>
    <label for="description">Kuvaus:</label> <br />
    <textarea name="description" id="description" rows="8" cols="40" maxlength="1000" required></textarea>
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}:</label> <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo resepti" />
</form>
{% endblock %}