{% extends "layout.html" %}

{% block title %}Metapie{% endblock %}

{% block content %}
<h2>Reseptit</h2>

{% for recipe in recipes %}
<div class="recipe">
  <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a> 👍 +{{ recipe.likes }} | 👎 -{{ recipe.dislikes }} <br />
  Lisääjä: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a><br />
  
</div>
{% endfor %}
<p>
  <a href="/recipes/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/recipes/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />
{% endblock %}