{% extends "layout.html" %}

{% block title %}Luo tunnus{% endblock %}

{% block content %}
{% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}
<h2>Luo tunnus</h2>
  <form action="/create" method="post">
    <p>
      <label for="username">Tunnus:</label> <br />
      <input type="text" name="username" id="username" maxlength="20" minlength="5"/>
    </p>
    <p>
      <label for="password1">Salasana:</label> <br />
      <input type="password" name="password1" id="password1" minlength="5" />
    </p>
    <p>
      <label for="password2">Salasana uudestaan:</label> <br />
      <input type="password" name="password2" id="password2" minlength="5" />
    </p>
    <input type="submit" value="Luo tunnus" />
    <a href="/"><input type="button" value="Peruuta" /></a>
  </form>
  {% endblock %}