<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
</head>

{% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}

<body>
  <form action="/create" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
    <a href="/"><input type="button" value="Peruuta" /></a>
  </form>
</body>

</html>