{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}

<h2>Käyttäjä {{ user.username }}</h2>
<p>
    Käyttäjällä on yhteensä {{ recipes | count }} reseptiä.
</p>
{% if votes | count > 0 %}
<p>
    Käyttäjä on antanut yhteensä {{ votes | count }} arviota<br>
    👍 Tykkäyksiä: {{ votes | selectattr("vote", "equalto", 1) | list | count }}<br>
    👎 Inhokkeja: {{ votes | selectattr("vote", "equalto", -1) | list | count }}
</p>
{% else %}
    Käyttäjä ei ole antanut yhtään tykkäystä.
{% endif %}
<h2>Reseptit</h2>
<ul>
    {% for recipe in recipes %}
    <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
    {% endfor %}
</ul>

{% endblock %}